body {
    background-color: white;
}
.title {
    font-size: 72px;
}

.title,
.description {
    display: inline;
}

.description {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
}

main {
    margin-top: 8px;
    padding-top: 8px;
}
